---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";

// Obtener las noticias
const news = await getCollection("news");

// Filtrar las noticias por categoría "technology"
const filteredNews = news.filter((post:any) => post.data.category.toLowerCase() === "technology");

---

<main class="max-w-7xl mx-auto px-5 py-16">
  <div class="section-hero markdown-background">
    <a href="/" class="back-button">← go back</a>
    <h1 class="section-title-categories">Noticias de Tecnología</h1>
    <ol class="content-categories-ol">
      {
        filteredNews.length > 0 ? (
          filteredNews.map((post: any) => (
            <li>
              <a href={`/news/${post.slug}`}>
                <Card
                  title={post.data.title}
                  date={post.data.date}
                  image={post.data.image}
                  category={post.data.category}
                />
              </a>
            </li>
          ))
        ) : (
          <p class="text-gray-500">No hay noticias en esta categoría aún.</p>
        )
      }
    </ol>
  </div>
</main>
